.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel_item {
  display: flex;
  flex-direction: row;
}

.primary {
  min-width: 400px;
  min-height: 200px;
  flex-grow: 0;
}
.next {
  min-width: 240px;
}
.before > div,
.next > div {
  margin: 16px !important;
}
.before {
  min-width: 240px;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}
