.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel,
.avatar {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.avatar {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goBack {
  margin-top: 32px;
}
